<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#ffd700">
    <meta name="og:type" content="website">
    <meta name="og:name" content="Rafferty Simms">
    <meta name="description" content="I'm an {{age}}-year-old undergraduate student from the United Kingdom, currently studying a Bachelor of
                Science (Hons) in Cyber Security.">

    <link rel="stylesheet" href="/styles/main.css">
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
    <div class="footer">
        <div class="section">
            <div class="container container-light">
                <p class="text-dark text-center">Copyright &copy; {{year}} Rafferty Simms</p>
            </div>
        </div>
    </div>
</body>

</html>