@import '../../styles/settings/colours';

.btn {
    padding: .55em;
    border-radius: .25em;
    text-align: center;
    border: none;
    display: inline-block;
    transition: all 0.25s ease-in-out;

    * {
        margin: 0;
        line-height: calc(100%);
    }

    
    &-primary {
        color: $dark-colour-primary;
        background-color: $highlight-colour;

        &:hover {
            color: $light-colour-primary;
            background-color: $dark-colour-secondary;
            cursor: pointer;
        }

    }

    &-icon {
        color: $light-colour-primary;
        background-color: transparent;
        

        &:hover {
            color: $light-colour-secondary;
            cursor: pointer;
        }   
    }

}