@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);

@keyframes wave-animation {
  0%, 60%, to {
    transform: rotate(0deg)
  }

  10%, 30% {
    transform: rotate(14deg)
  }

  20% {
    transform: rotate(-8deg)
  }

  40% {
    transform: rotate(-4deg)
  }

  50% {
    transform: rotate(10deg)
  }
}

@keyframes rainbow-animation {
  0%, to {
    color: red
  }

  10% {
    color: orange
  }

  20% {
    color: #ff0
  }

  30% {
    color: green
  }

  40% {
    color: #00f
  }

  50% {
    color: indigo
  }

  60% {
    color: violet
  }
}

* {
  word-wrap: break-word;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #040405;
  min-height: 95vh;
  padding: 5% 0 5% 0;
}

body main, footer, header {
  margin: 0 auto;
  width: 60vw;
}

header h1 {
  text-transform: uppercase
}

main .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0
}

.highlight, main .grid .button {
  background-color: gold;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center
}

main .grid .button {
  text-align: center;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase
}

main .grid .button:hover {
  background-color: rgb(201, 171, 0);
}

hr {
  border: 3px solid rgb(255, 255, 255);
  width: 100%
}

footer {
  text-align: center
}

footer .socials a {
  color: #fff;
  padding: 0 .5rem
}

footer .socials a:hover {
  color: gold;
}

@media screen and (max-width:1000px) {
  body main, footer, header {
    width: 80vw
  }

  main .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  width: 100%;
  padding: 1rem;
  border: .2rem solid rgba(255, 217, 0, 0.288);
  background-color: rgba(34, 34, 34, 0.24);
  border-radius: 1%;
}

.container .header {
  text-transform: uppercase;
  color: #fff;
  display: block;
  word-wrap: break-word;
}

.container .header h3 {
  margin-top: 0;
  padding-top: 0;
}

.container .content {
  display: flex;
  justify-content: space-between;
}

.container hr {
  border: 1px solid gold;
  width: 100%;
}


#back-button {
  text-decoration: none;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -100
}

.highlight {
  padding: 0 2px
}

.inner-highlight, .container h3 a {
  color: gold
}

.rainbow, .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block
}

.rainbow {
  animation-name: rainbow-animation;
  animation-duration: 10s
}