* {box-sizing: border-box}

.bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.089);

}

.skills {
    text-align: right;
    padding: .1rem;
    color: black;
    background-color: gold;
}



.python {width: 90%;}
.css {width: 80%;}
.js {width: 65%;}
.php {width: 60%;}