@import "../../styles/settings/colours";

.card {
    padding: 1.5em;
    transition: all 0.25s ease-in-out;
    border-radius: 0.25em;
    height: 100%;

    background: $dark-colour-primary;
    outline: 0.1em solid $dark-colour-tertiary;

    &-pretext {
        color: $highlight-colour;
        margin-bottom: 0.5em;
    }

    box-shadow: 0 0 0.75em $background-colour;

    &:hover {
        outline: 0.1em solid $highlight-colour;
    }
    h2,
    p {
        margin: 0;
    }
    i {
        float: right;
    }
    h2 {
        width: 100%;
    }
    i {
        display: block;
        margin: 0 auto;
    }
    hr {
        border: 0;
        border-top: 0.1em solid $dark-colour-secondary;
        margin: 1em 0;

    }

    &-tags {
        margin-top: 1em;
    }
}
