@import '../../styles/settings/colours';

.card {
    padding: 1.5em;
    transition: all .25s ease-in-out;
    border-radius: .25em;
    height: 100%;

    background: $dark-colour-primary;
    border: .1em solid $dark-colour-tertiary;

    &-pretext {
        color: $highlight-colour;
        margin-bottom: .5em;
    }

    box-shadow: 0 0 .75em $background-colour;

    &:hover{
        border: .1em solid $highlight-colour;
    }
    h2, p {
        margin: 0;
    }
    i {
        float:right;
    }
    h2 {

        width: 100%;
    }
    i {
        display: block;
        margin: 0 auto;
    }
    hr {
        border: 0;
        border-top: .1em solid $dark-colour-secondary;
        margin: 1em 0;
        transition: all .25s ease-in-out;
    }

    &-tags {
        margin-top: 1em;
    }

}

