doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        meta(name="og:title" content="Contact")
        meta(name="og:description" content="This contact form can be used to send me a message.")
        meta(name="og:type" content="website")
        meta(name="og:url" content="https://raffsimms.com/contact")
        meta(name="theme-color" content="#ffd700")

        title Contact | Raff Simms

        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="styles/contact.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    
    body
        div(id="particles-js")
        header
            a(href="../" class="rainbow" id="back-button")
                i.fas.fa-arrow-left(aria-hidden="true")
                |  back
            h1 Contact me
        main
            form(class='contact-form' id="contact-form" action="/sendform" method="POST")
                input(type='hidden' id='g-recaptcha-response' name='g-recaptcha-response')
                input(type='text' name='nameInput' placeholder='Full Name')
                input(type='email' name='emailInput' placeholder='example@example.com')
                input(type='text' name='subjectInput' placeholder='Subject')
                textarea(type='text' name='messageInput' placeholder='Type your message here...' rows=10)
                button(type='submit' name='submit')
                    p Send Message
            
            if message 
                if status
                    div(class='response-banner success')  
                        p #{message} 
                else
                    div(class='response-banner error')
                        p #{message} 

        footer
            p Want to get in touch? use the contact form above
                |  or one of my social medium links below!
            div(class="socials")
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-linkedin.fa-lg(aria-hidden="true") 
                a(href="https://github.com/fwiko/")
                    i.fab.fa-github.fa-lg(aria-hidden="true") 
                a(href="https://twitter.com/rfferty/")
                    i.fab.fa-twitter.fa-lg(aria-hidden="true") 
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-behance.fa-lg(aria-hidden="true") 

        script(src="https://www.google.com/recaptcha/api.js?render=6LfdVt0ZAAAAAASyUX8YSa1YoXjWBFn5L22OFYrk" type="text/javascript")
        script(src="scripts/contact.js" type="text/javascript")
        
        script(src="scripts/particles.min.js" type="text/javascript")
        script(src="scripts/app.js" type="text/javascript")