doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home | Raff Simms
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="styles/skills.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body
        div(id="particles-js")
        header
            h1 Hello 
                span(class='wave') 👋
                | , I'm 
                span(class='rainbow') Rafferty
            p I am an undergraduate student currently studying a 
                span(class='highlight') Bachelor of Science in  Cyber Security
                | . I also have interests in a range of creative areas. 
            
        main
            div(class="information")
                div(class='grid')
                    // a(href="/cv" class='button')
                        p My C.V.
                    a(href="/projects" class='button')
                        p My Projects

        footer
            p Want to get in touch? Contact me 
                a(href="/contact" class="highlight") here
                |  or via one of my social medium links below!
            div(class="socials")
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-linkedin.fa-lg(aria-hidden="true") 
                a(href="https://github.com/fwiko/")
                    i.fab.fa-github.fa-lg(aria-hidden="true") 
                a(href="https://twitter.com/rfferty/")
                    i.fab.fa-twitter.fa-lg(aria-hidden="true") 
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-behance.fa-lg(aria-hidden="true") 

        script(src="scripts/particles.min.js" type="text/javascript")
        script(src="scripts/app.js" type="text/javascript")