doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(name="og:title" content="Rafferty Simms")
        meta(name="og:description" content="I am an undergraduate student currently studying a Bachelor of Science in Cyber Security.")
        meta(name="og:type" content="website")
        meta(name="og:url" content="https://raffsimms.com/")
        meta(name="theme-color" content="#ffd700")

        title Home | Raff Simms
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="styles/skills.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body
        div(id="particles-js")
        header
            h1 Hello 
                span(class='wave') 👋
                | , I'm 
                span(class='rainbow') Rafferty
            p I'm an undergraduate student currently studying a 
                span(class='highlight') Bachelor of Science (Hons) in  Cyber Security
                | . I have interests in many computing fields including software engineering, computer hardware, and security.
            p In my free time i like to work on a number of personal projects that help expand my knowledge in many areas of computing. You can find some of my favourites below.

        main  
            div(class="projects")
                div(class='grid')
                    each project in projects
                            div(class="container")
                                div(class="header")
                                    h3= project.name
                                        span 
                                        a(href= project.link target="_blank" style="text-decoration: none;")
                                            i.fas.fa-external-link-alt(aria-hidden="true")
                                hr
                                div(class="content")
                                    p= project.description

        footer
            p Want to get in touch? Contact me 
                a(href="/contact" class="highlight") here
                |  or via one of my social medium links below!
            div(class="socials")
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-linkedin.fa-lg(aria-hidden="true") 
                a(href="https://github.com/fwiko/")
                    i.fab.fa-github.fa-lg(aria-hidden="true") 

        script(src="scripts/particles.min.js" type="text/javascript")
        script(src="scripts/app.js" type="text/javascript")