doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(name="og:title" content="Projects")
        meta(name="og:description" content="Here you can view some of the projects that i have worked on, most of which are accessible through my GitHub.")
        meta(name="og:type" content="website")
        meta(name="og:url" content="https://raffsimms.com/projects")
        meta(name="theme-color" content="#ffd700")

        title Projects | Raff Simms

        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="styles/skills.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body
        div(id="particles-js")
        header
            a(href="../" class="rainbow" id="back-button")
                i.fas.fa-arrow-left(aria-hidden="true")
                |  back
            h1 My Projects

        main
            each project in projects
                div(class="container")
                    h2= project.name
                        span 
                        a(href= project.link target="_blank" style="text-decoration: none;")
                            i.fas.fa-external-link-alt(aria-hidden="true")
                    hr
                    p= project.description

        footer
            p Want to get in touch? Contact me 
                a(href="/contact" class="highlight") here
                |  or via one of my social medium links below!
            div(class="socials")
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-linkedin.fa-lg(aria-hidden="true") 
                a(href="https://github.com/fwiko/")
                    i.fab.fa-github.fa-lg(aria-hidden="true") 
                a(href="https://www.linkedin.com/in/raffsimms/")
                    i.fab.fa-behance.fa-lg(aria-hidden="true") 

        script(src="scripts/particles.min.js" type="text/javascript")
        script(src="scripts/app.js" type="text/javascript")