.heading {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    hr {
        border: 0;
        border-top: 1em solid gold;
    }

    h1 {
        margin: 0;
    }
    
    .links {
        a {
            margin: 0 !important;
            margin-right: .5em;
        }
    }
      
}