.heading {
    margin: 3em auto;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
    }

    p {
        a {
            text-decoration: dotted underline;
        }
    }
    
    .links {
        a {
            margin: 0 !important;
            margin-right: .5em;
        }
    }
      
}