$background-colour: #0f0f0f;

$dark-colour-primary: #151515;
$dark-colour-secondary: #252525;
$dark-colour-tertiary: #353535;

$light-colour-primary: #fbfbfb;
$light-colour-secondary: #afafaf;

$highlight-colour: #ffd700;

$dark-gradient: linear-gradient(180deg, $dark-colour-secondary, $dark-colour-primary);