@import '../../styles/settings/colours';

.section {
    margin: 3rem 0;

    

    hr {
        border: 0;
        border-top: 1px solid $dark-colour-tertiary;
        margin: 1em 0;
    }

    h2,
    p {
        margin: 0;
    }
}
