@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

a {
    text-decoration: none
}

body {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233d2f00' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 0 2em;
    padding-top: 2em
}

.heading, .main, .footer {
    margin: auto;
    max-width: 80em
}

.section {
    margin: 3rem 0
}

.section p {
    margin-top: 0
}

.section h1 {
    margin-bottom: 0
}

h1, h2, h3, h4, h5, h6, p {
    color: #f5f5dc;
    font-family: 'Rubik', sans-serif
}

.text-highlight {
    color: #ffd700 !important
}

.text-subtext {
    color: #a9a9a9
}

.text-dark {
    color: #000
}

.text-large {
    font-size: 3.75rem;
    line-height: 2.5rem;
    line-height: 3rem
}

.text-medium {
    font-size: 2.2rem;
    line-height: 2.5rem
}

.text-small {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.container {
    padding: 1rem;
    transition: all .25s ease-in-out
}

.container-dark {
    background-color: #111;
    border-bottom: .25em solid gold;
}

.container-light {
    background-color: #ffd700;
    color: #000
}

.container h2 {
    color: #fff;
    margin-bottom: 0;
    text-align: center
}

.container p {
    text-align: center
}

.container i {
    display: block;
    margin: 0 auto
}

.grid {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr)
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr)
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr)
}

.cols-5 {
    grid-template-columns: repeat(5, 1fr)
}

.contact-list i {
    padding-right: 1rem
}

.footer .container {
    font-weight: 700
}

.footer .container p {
    margin: 0
}

.shrink:hover {
    transform: scale(.95)
}

.text-rainbow, .emoji-wiggle {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: emoji-wiggle-animation;
    display: inline-block;
    transform-origin: 70% 70%
}

.text-spring {
    letter-spacing: .1rem;
    transition: all .75s ease-in-out
}

.text-spring:hover {
    letter-spacing: 1rem
}

.text-rainbow {
    animation-duration: 10s;
    animation-name: rainbow-animation
}

@keyframes emoji-wiggle-animation {
    0%, 60%, to {
        transform: rotate(0deg)
    }

    10%, 30% {
        transform: rotate(14deg)
    }

    20% {
        transform: rotate(-8deg)
    }

    40% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(10deg)
    }
}

@keyframes rainbow-animation {
    0%, to {
        color: red
    }

    10% {
        color: orange
    }

    20% {
        color: #ff0
    }

    30% {
        color: green
    }

    40% {
        color: blue
    }

    50% {
        color: #4b0082
    }

    60% {
        color: #ee82ee
    }
}

@media screen and (max-width:1000px) {
    .cols-2 {
        grid-template-columns: repeat(1, 1fr)
    }

    .cols-3 {
        grid-template-columns: repeat(1, 1fr)
    }

    .cols-4 {
        grid-template-columns: repeat(1, 1fr)
    }

    .cols-5 {
        grid-template-columns: repeat(1, 1fr)
    }
}